h6 { 
	color:#0B610B  ;
	/*color:#0A122A  ;*/ 
	font-weight: 900; 
	text-shadow: 0 0 120px rgba(0,0,0,0.3); 
	letter-spacing:5px; 
	text-align:center;
	font-size: 50px; 
}

.bg{
	background-image: url("background.jpg");
	background-size: auto;
}